pytest
pylint
jupyter
pytest-cov
pytest-flask
pandas
nbval
click
flask
pyjwt
waitress
requests
google-cloud-storage
google-cloud-bigquery
google-cloud-logging
google-cloud-automl
grpcio
tensorflow==2.0.1
keras
Pillow
flasgger
google-api-python-client
locust