<!DOCTYPE html>
<html>
    <body style="padding-top: 50px; background-color: gainsboro;">

        <h1 style="color:black;text-align:center;">Covid-19: Lung X-Ray Classifier</h1>
        <p style="color:black;text-align:center">Submit your image for classification below.</p>
        <form method="POST">
	        <p style="color:black;text-align:center;">First Name</p>
            <p style="color:black;text-align:center;"><input type="text" name="first_name">
            <p style="color:black;text-align:center;padding-left: 75px; "><input type="file" name="payload">
            <p style="color:black;text-align:center;"><button type="submit">Submit</button>
        </form>
		<p style="color:black;text-align:center;padding-top: 10px;">Results will be here</p>
    </body>
</html>