{%- extends "layout.html" %}
{% block jumbotron %}
<div class="jumbotron">
    <div class = "container">
        <h1 class="display-5">COVID-19 Lung X-Ray Classifier</h1>
        <p class="lead">A computer vision application that screens for COVID-19 based on X-Ray imaging.</p>
        <hr class="my-4">
        <p>To find out more information on COVID-19, click to learn more.</p>
        <p class="lead">
            <a class="btn btn-primary btn-m" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank" role="button">Learn more</a>
        </p>
    </div>
</div>
{% endblock jumbotron %}
{% block content %}
<div class = "container">
    <div class="card border-primary mb-3" style="max-width: 100rem;">
        <div class="card-body">
            <h4 class="card-title">Please fill out form</h4>
            <form method="POST" role="form" class="form-horizontal" enctype="multipart/form-data">
                <fieldset>
                    <div class="row justify-content-md-center">
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Enter first name">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Enter last name">
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="integer" class="form-control" name="age" id="last_name" placeholder="Enter age">
                            </div>
                        </div>
                    </div>
                    <br></br>
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label for="state">State</label>
                                <input type="text" class="form-control" name="state" id="state" aria-describedby="state Help" placeholder="Enter state">
                                <small id="stateHelp" class="form-text text-muted">State must be abbreviated.</small>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label for="zip">Zip Code</label>
                                <input type="integer" class="form-control" name="zip_code" id="zip_code" placeholder="Enter Zip Code">
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <div class="form-group">
                                <label for="symptomDays">Symptom Days</label>
                                <input type="text" class="form-control" name="symptom_days" id="symptom_days" aria-describedby="symptomHelp" placeholder="Enter symptom days">
                                <small id="symptomHelp" class="form-text text-muted">Enter number of days of symptoms (2-14).</small>
                            </div>
                        </div>
                    </div>
                    <br></br>
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <div class="form-group">
                                <legend>Major Symptoms</legend>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="trouble_breathing" id="trouble_breathing" value="1">
                                    <label class="custom-control-label" for="trouble_breathing">Trouble breathing</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="chest_pain" id="chest_pain" value="1">
                                    <label class="custom-control-label" for="chest_pain">Chest pain</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="tiredness" id="tiredness" value="1">
                                    <label class="custom-control-label" for="tiredness">Inability to stay awake</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="bluish_color" id="bluish_color" value="1">
                                    <label class="custom-control-label" for="bluish_color">Bluish lips or face</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-auto">                    
                            <div class="form-group">
                                <legend>Additional Symptoms</legend>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="runny_nose" id="runny_nose" value="1">
                                    <label class="custom-control-label" for="runny_nose">Runny nose</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="cough" id="cough" value="1">
                                    <label class="custom-control-label" for="cough">Cough</label>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="fever" id="fever" value="1">
                                    <label class="custom-control-label" for="fever">Fever</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br></br>
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <div class="form-group">
                                <legend>Please upload your X-Ray</legend>
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" name="payload" id="payload" aria-describedby="payloadHelp">
                                    <small id="payloadHelp" class="form-text text-muted">Accepted formats: JPG, JPEG, PNG, GIF</small>
                                    <label class="custom-file-label" for="payload">Choose file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br></br>
                    <div class="form-group row" style= "width: 100%; display: flex; align-items: center; justify-content: center;">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <div class="alert alert-dismissible alert-secondary">
                                <h3 style="text-align: center">{{message}}</h3> 
                            </div>    
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            <div id = form> 
                {% if scrollToAnchor %}
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                        document.location.hash = '#{{ scrollToAnchor }}';
                        });
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
