{% block head_css %}
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css" rel="stylesheet">
        <style>
        body {
            overflow: "hidden"
        }
        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}
{% block title %}<title>COVID-19 Screener</title>{% endblock %}
{% include 'navbar.html' %}
{% block jumbotron %}{% endblock jumbotron %}
{% block content %}{% endblock content %}
{% block body %}{% endblock body %}